.container {
      display:table;
    }
      .container > div {
        width:50%;
        display:table-cell;
      }
        .container > div p {
          margin:0;
        }
        .container .left {
          vertical-align:top;
          horiz-align: right;
        }
        .container .right {
          text-align:left;
          vertical-align: top;
        }

.reveal .progress {
  position: absolute;
  display: none;
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;

  background-color: rgba( 0, 0, 0, 0.2 );
  color: darkorange;
}
  .reveal .progress:after {
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 100%;
    top: -10px;
  }
  .reveal .progress span {
    display: block;
    height: 100%;
    width: 100%;

    background-color: darkorange;
    transition: transform 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
    transform-origin: 0 0;
    transform: scaleX(0);
  }

.reveal .slide-number {
  position: absolute;
  display: block;
  right: 8px;
  bottom: 8px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1;
  color: darkorange;
  background-color: rgba( 0, 0, 0, 0 );
  padding: 5px;
}

.reveal .slide-number a {
  color: currentColor;
}

.reveal .slide-number-delimiter {
  margin: 0 3px;
}

.umgsquares {
  display: inline-block;
  width: .2em;
  height: .2em;
  background-color: #bbb;
  box-shadow:
  0em -.52em 0em #bbb,
  0em -.26em 0em #bbb;
}
