.container {
      display:table;
    }
      .container > div {
        width:50%;
        display:table-cell;
      }
        .container > div p {
          margin:0;
        }
        .container .left {
          vertical-align:top;
          horiz-align: right;
        }
        .container .right {
          text-align:right;
        }